.header {
  background-color:#0A7497;
  padding-top: 10px;
}

.active {
  background: rgb(64, 179, 218);
}

.links {
  /* color: #fff; */
  height: 100%;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
  transition: .5s;
}

.links:hover {
  text-decoration: underline;
  background: rgb(64, 179, 218);
}

