.header{
    background-color: #ccc;
    padding-top: 10px;
}


.navbar>a:hover{
    text-decoration: underline;
}
.activeLink {
    background: white;
}

.links {
    color: black;
    height: 100%;
    padding: 10px;
    border-radius: 5px 5px 0 0; 
    margin: 0 10px;
}