.wrapper {
  background: rgb(64, 179, 218);
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 40px 15px black);
  margin-top: 30px;
  border-radius: 10px;
  position: relative;
  /* z-index: -1; */
}

.map{
  width: 100%;
  height: 400px;
}