.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 150px;
  height: 150px;
  background: #222222;
  border: 2px solid #b5b5b5;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

.inscription {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 998;
  text-align: center;
  font-size: 16px;
  color: #b5b5b5;
  margin-left: 15px;
  animation: grow 6s linear infinite;
}

.boxFirst {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: rotate 5s linear infinite reverse;
}

.boxSecond {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: rotate 4s linear infinite reverse;
}

.boxThird {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: rotate 3s linear infinite reverse;
}

.boxForth {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: rotate 2s linear infinite reverse;
}

.first {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: red;
  position: absolute;
  left: 13%;
  top: 13%;
  filter: drop-shadow(0 0 2px);
  opacity: 0.8;
  z-index: 400;
}

.second {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fabe28;
  position: absolute;
  left: 13%;
  top: 13%;
  filter: drop-shadow(0 0 2px);
  opacity: 0.5;
  z-index: 500;
  animation: test 2s linear infinite reverse;
}

.third {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #88c100;
  position: absolute;
  left: 13%;
  top: 13%;
  filter: drop-shadow(0 0 2px);
  opacity: 0.5;
  z-index: 600;
}

.forth {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00c176;
  position: absolute;
  left: 13%;
  top: 13%;
  filter: drop-shadow(0 0 2px);
  opacity: 0.5;
  z-index: 300;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  0% {
    margin-left: 15px;
  }
  50% {
    margin-left: -100%;
  }
  100% {
    margin-left: 15px;
  }
}
