.container{
    max-width: 800px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.app{
    flex: 1;
}

.homeTitle{
    text-align: center;
    font-size: 3em;
    color: blueviolet;
    margin: 50px 0;
}